<div class="row">
  <div class="col-lg-3 col-md-6 col-sm-6">
    <div class="card card-stats" style="background-color: #e4c1f9">
      <div class="card-body">
        <div class="row">
          <div class="col-5 col-md-4">
            <div class="input-group-text">
              <input type="checkbox" aria-label="Checkbox for following text input" style="width: 20px; height: 20px; background-color: black; border: none;">
            </div>
          </div>
          <div class="col-7 col-md-8">
            <div class="numbers">
              <p class="card-category">Priority</p>
              
              <p></p>
            </div>
          </div>
        </div>
        <div class="row mt-4">
          <div class="col-12 col-md-12">
            <div class="numbers">
              <p class="card-title text-left">
                Buscar Certificado de Bachiller
              </p>
              <p></p>
            </div>
          </div>
        </div>
      </div>
      <hr>
      <div class="card-footer d-flex justify-content-between align-items-center">
       
        <div class="stats"><i class="fa fa-refresh"></i> Update Now</div>
        <div class="pencil-icon bg-dark rounded-circle text-light p-2">
          <i class="fa fa-pencil"></i>
        </div>
      </div>
    </div>
  </div> 
  <div class="col-lg-3 col-md-6 col-sm-6">
    <div class="card card-stats" style="background-color: #fff">
      <div class="card-body">
        <div class="row">
          <div class="col-5 col-md-4">
            <div class="input-group-text">
              <input type="checkbox" aria-label="Checkbox for following text input" style="width: 20px; height: 20px; background-color: black; border: none;">
            </div>
          </div>
          <div class="col-7 col-md-8">
            <div class="numbers">
              <p class="card-category">Priority</p>
              
              <p></p>
            </div>
          </div>
        </div>
        <div class="row mt-4">
          <div class="col-12 col-md-12">
            <div class="numbers">
              <p class="card-title text-left">
                2 Fotos 2x2 
              </p>
              <p></p>
            </div>
          </div>
        </div>
      </div>
      <hr>
      <div class="card-footer d-flex justify-content-between align-items-center">
       
        <div class="stats"><i class="fa fa-refresh"></i> Update Now</div>
        <div class="pencil-icon bg-dark rounded-circle text-light p-2">
          <i class="fa fa-pencil"></i>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-3 col-md-6 col-sm-6">
    <div class="card card-stats" style="background-color: #a9def9">
      <div class="card-body">
        <div class="row">
          <div class="col-5 col-md-4">
            <div class="input-group-text">
              <input type="checkbox" aria-label="Checkbox for following text input" style="width: 20px; height: 20px; background-color: black; border: none;">
            </div>
          </div>
          <div class="col-7 col-md-8">
            <div class="numbers">
              <p class="card-category">Priority</p>
              
              <p></p>
            </div>
          </div>
        </div>
        <div class="row mt-4">
          <div class="col-12 col-md-12">
            <div class="numbers">
              <p class="card-title text-left">
               Record de notas Legalizado por el MESCYT
              </p>
              <p></p>
            </div>
          </div>
        </div>
      </div>
      <hr>
      <div class="card-footer d-flex justify-content-between align-items-center">
       
        <div class="stats"><i class="fa fa-refresh"></i> Update Now</div>
        <div class="pencil-icon bg-dark rounded-circle text-light p-2">
          <i class="fa fa-pencil"></i>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-3 col-md-6 col-sm-6">
    <div class="card card-stats" style="background-color: #d0f4de">
      <div class="card-body">
        <div class="row">
          <div class="col-5 col-md-4">
            <div class="input-group-text">
              <input type="checkbox" aria-label="Checkbox for following text input" style="width: 20px; height: 20px; background-color: black; border: none;">
            </div>
          </div>
          <div class="col-7 col-md-8">
            <div class="numbers">
              <p class="card-category">Priority</p>
              
              <p></p>
            </div>
          </div>
        </div>
        <div class="row mt-4">
          <div class="col-12 col-md-12">
            <div class="numbers">
              <p class="card-title text-left">
               Copia de la Cédula
              </p>
              <p></p>
            </div>
          </div>
        </div>
      </div>
      <hr>
      <div class="card-footer d-flex justify-content-between align-items-center">
       
        <div class="stats"><i class="fa fa-refresh"></i> Update Now</div>
        <div class="pencil-icon bg-dark rounded-circle text-light p-2">
          <i class="fa fa-pencil"></i>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-3 col-md-6 col-sm-6">
    <div class="card card-stats" style="background-color: #fcf6bd">
      <div class="card-body">
        <div class="row">
          <div class="col-5 col-md-4">
            <div class="input-group-text">
              <input type="checkbox" aria-label="Checkbox for following text input" style="width: 20px; height: 20px; background-color: black; border: none;">
            </div>
          </div>
          <div class="col-7 col-md-8">
            <div class="numbers">
              <p class="card-category">Priority</p>
              
              <p></p>
            </div>
          </div>
        </div>
        <div class="row mt-4">
          <div class="col-12 col-md-12">
            <div class="numbers">
              <p class="card-title text-left">
                Seguir siendo Fabuloso
              </p>
              <p></p>
            </div>
          </div>
        </div>
      </div>
      <hr>
      <div class="card-footer d-flex justify-content-between align-items-center">
       
        <div class="stats"><i class="fa fa-refresh"></i> Update Now</div>
        <div class="pencil-icon bg-dark rounded-circle text-light p-2">
          <i class="fa fa-pencil"></i>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-3 col-md-6 col-sm-6">
    <div class="card card-stats" style="background-color: #fcf6bd">
      <div class="card-body">
        <div class="row">
          <div class="col-5 col-md-4">
            <div class="input-group-text">
              <input type="checkbox" aria-label="Checkbox for following text input" style="width: 20px; height: 20px; background-color: black; border: none;">
            </div>
          </div>
          <div class="col-7 col-md-8">
            <div class="numbers">
              <p class="card-category">Priority</p>
              
              <p></p>
            </div>
          </div>
        </div>
        <div class="row mt-4">
          <div class="col-12 col-md-12">
            <div class="numbers">
              <p class="card-title text-left">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore aliquid corrupti nihil, sunt quibusdam saepe. Assumenda sed odio exercitationem omnis error, dolore minus a nulla, soluta perspiciatis eos enim asperiores.
              </p>
              <p></p>
            </div>
          </div>
        </div>
      </div>
      <hr>
      <div class="card-footer d-flex justify-content-between align-items-center">
       
        <div class="stats"><i class="fa fa-refresh"></i> Update Now</div>
        <div class="pencil-icon bg-dark rounded-circle text-light p-2">
          <i class="fa fa-pencil"></i>
        </div>
      </div>
    </div>
  </div>
  <ng-template #contentMapa let-modal style="z-index: 0;">
    <div class="modal-header">
      <h4 class="modal-title">Visor de mapa</h4>
      <button type="button" class="close" aria-label="Close" >
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <div class="map-container">
      </div>
    </div>
    <div class="modal-footer ">
      <a [title]="typeAccion ? 'Guardar' : 'Agregar coordenadas' " class="btn btn-primary"
        >
        <i [class]="typeAccion?'fa fa-save ':'fa fa-plus-circle'"> {{typeAccion ? " Guardar coordenadas" :"
          Agregar coordenadas"}}</i>
      </a>
  
      <a data-toggle="tooltip" data-placement="bottom"
        title="Eliminar coordenadas" class="btn btn-danger btn-md ml-1" >
        <i class="fa fa-trash-o "> Eliminar coordenadas</i>
      </a>
  
      <a data-toggle="tooltip" data-placement="bottom"
        title="Exportar GEOJSON" class="btn btn-warning btn-md ml-1" >
        <i class="fa fa-download"> Exportar GEOJSON</i>
      </a>
  
      <button type="button " class="btn btn-light ">
        <i class="fa fa-close "> Cerrar</i>
      </button>
    </div>
  
  </ng-template>
  <button type="button" class="btn btn-primary" (click)="seleccioneVisor(contentMapa) ">
    Launch demo modal
  </button>
</div>
<!-- <button type="button" class="btn btn-primary rounded-circle m-4 justify-content-center align-items-center p-0"  data-toggle="modal" data-target="#miModal" style="width: 60px; height: 60px; position: fixed; bottom: 20px; right: 20px;">
  <i class="fa fa-plus" style="font-size: 30px; line-height: 60px;"></i>
</button> -->
<!-- Button trigger modal -->
<!-- Button trigger modal -->



